@use "_search.scss";
$font-main: "Asap", sans-serif;
$font-second: "Josefin Slab", serif;
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: $font-second;
  font-weight: 500;
}
body {
  background-color: lightseagreen;
}

.poke-name {
  text-transform: capitalize;
  font-size: 1.5vw;
  display: flex;
  justify-content: space-around;
}

.poke-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3rem auto;
  padding: 3rem auto;
  width: 60vw;
}
